{% macro input(value, type, html_attrs) %}
  <input
    value="{{ value }}"
    type="{{ type }}"
    placeholder=" "
    {% for name, val in html_attrs %}
      {{ name }}="{{ val }}"
    {% endfor %}
  />
{% endmacro %}
{% macro field(type, label, value, state, error, input_attrs) %}
  <label
    class="base-field {% if state %}base-field_{{ state }}{% endif %}"
    {% if error %}data-error="{{ error }}"{% endif %}
  >
    {{ input(value, type, input_attrs) }}
    <span class="base-field__label">{{ label }}</span>
  </label>
{% endmacro %}
{% macro fields(items) %}
  {% for item in items %}
    {{ field(item.type, item.label, item.value, item.state, item.error, item.attrs) }}
  {% endfor %}
{% endmacro %}
