{% macro input(name, value, type, id, html_attrs) %}
  <input
    name="{{ name }}"
    {{ html_attrs }}
    {% if id %}
      id="{{ id }}"
    {% endif %}
    value="{{ value }}"
    type="{{ type }}"
  />
{% endmacro %}
{% macro field(id, label, slot) %}
  <div>
    <label for="{{ id }}">{{ label }}</label>
    {{ slot }}
  </div>
{% endmacro %}
