{% macro svg(type, name, width, height) %}
    <svg class="base-icon base-icon_type_{{ type }}" width="{{ width }}" height="{{ height }}">
        <use xlink:href="/sprites/{{ type }}.svg#{{ name }}"></use>
    </svg>
{% endmacro %}