<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="src/resources/js/app.ts" type="module"></script>
    <link href="src/resources/scss/app.scss" rel="stylesheet" />
  </head>
  <body>
    {% include 'blocks/header.njk' %}
    <main>{{ content | safe }}</main>
    {% include 'blocks/footer.njk' %}
  </body>
</html>
